.film {
  &__section {
    padding: 60px 0;
    background: linear-gradient(.25turn, #96cae1, #ebf8e1, #e6c8a8);
  }
  &__section-lib {
    padding: 60px 0;
  }
}
.film {
  &__container {
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    padding: 20px;
    margin-bottom: 20px;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0px 5px 10px 8px #7a5c61;
    }
  }

  &__img {
    margin-bottom: 8px;
  }

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $main-black-color;
    margin-bottom: 5px;
  }

  &__genre,
  &__year {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $home-orange-color;
  }

  &__date-release {
    padding-left: 3px;
  }
  &__rating {
    color: #fff;
    background-color: #ff6b01;
    padding: 3px 6px;
    border-radius: 6px;
    margin-left: 9px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .film {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__list-lib {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      width: calc(45% - 10px);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .film {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__list-lib {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      width: calc(33% - 10px);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
